<mat-card (click)='openBoard($event, board.id)'>
  <mat-card-actions>
    <button mat-icon-button type='button' class='edit' (click)='editBoard()'>
      <mat-icon color='primary'>edit</mat-icon>
    </button>
    <button mat-icon-button type='button' (click)='deleteBoard()'>
      <mat-icon color='warn'>clear</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-title>{{board?.title}}</mat-card-title>
  <mat-card-content>
    <p class='description'>{{board.description}}</p>
  </mat-card-content>
</mat-card>
