:host {
  display: block;
  min-width: 300px;
  @media (max-width: 959px) {
    width: 100%;
  }
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  .mat-focus-indicator {
    padding: 0;
  }
  .mat-button {
    min-width: 36px;
    cursor: pointer;
  }
}

.mat-card-title {
  padding-bottom: 10px;
}
