:host {
  display: flex;
  cursor: pointer;
}

.mat-card {
  width: 100%;
  &-title {
    padding-bottom: 10px;
    pointer-events: none;
  }
  &-actions {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    .mat-focus-indicator {
      padding: 0;
    }
    .mat-button {
      position: absolute;
      min-width: 36px;
      .mat-icon {
        pointer-events: none;
      }
    }
  }
}
