<mat-card class='card'>
  <mat-card-header>
    <img [src]='partisipant.img' mat-card-avatar class='card__avatar' [alt]='partisipant.git'>
    <mat-card-title class='card__title'>{{partisipant.name}}</mat-card-title>
    <mat-card-subtitle class='card__subtitle' *ngIf='partisipant.isTeamLead'>Teamlead</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h3 class='card__content-title'>Contributions:</h3>
    <ul class='contributions__list'>
      <li class='contributions__item' *ngFor='let contribution of partisipant.contribution'>{{contribution}}</li>
    </ul>
  </mat-card-content>
</mat-card>
