:host {
  display: block;
  margin: 20px auto;
  padding: 10px 0;
  width: 100%;
  max-width: 1200px;
}

.boards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .search-form {
    margin-bottom: 50px;
  }
  .search-input {
    height: 35px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    padding-left: 10px;
  }
  .search-button {
    border-radius: 0 5px 5px 0;
  }
  .btnPomodoro {
    margin-top: 50px;
  }
  &__title {
    font-size: 32px;
  }
  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;

    &-item {
      width: 33%;
      padding: 10px;
      box-sizing: border-box;
      @media (max-width: 900px) {
        width: 50%;
        justify-content: center;
      }
      @media (max-width: 500px) {
        width: 100%;
        justify-content: center;
      }
    }
  }
}
