<mat-tab-group animationDuration="0ms" mat-align-tabs="center" >
  <mat-tab class='board' label="{{ 'BOARD.currentboard' | translate }}">
    <div class='board__columns'
         *ngIf='(columns$ | async) as columns'
         cdkDropList
         cdkDropListGroup
         cdkDropListOrientation='horizontal'
         (cdkDropListDropped)="drop($event)">
        <app-board-column
          *ngFor="let column of columns; let i = index"
          [column]="column"
          [attr.data-id]='column.id'
          cdkDrag></app-board-column>
        <button
          mat-raised-button
          color="primary"
          (click)="onAddColumn()"
          class="add-column-btn">
          <mat-icon>add</mat-icon>
          {{ 'BOARD.addcolumn' | translate }}
        </button>
    </div>
  </mat-tab>
  <mat-tab label="{{ 'BOARD.participants' | translate }}">
    <app-board-participants></app-board-participants>
  </mat-tab>
</mat-tab-group>
