.header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  font-family: "Norican";
  font-size: 28px;
  margin-left: 15px;
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
}

.navbar {
  display: flex;
  height: 70%;
}

.navbar__group {
  display: flex;
  align-items: center;
}

.navbar_item {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
  padding: 0 8px;
  color: white;
  text-decoration: none;
  @media (max-width: 640px) {
    margin: 0;
    padding: 0 5px;
  }
}

.navbar_item:hover:not(:first-child) {
  background: rgba(0,0,0,.2);
  border-radius: 5px;
  transition: .3s;
}

.navbar_item span {
  margin-bottom: 4px;
  @media (max-width: 640px) {
    display: none;
  }
}

.mat-icon {
  font-size: 20px;
}

.navbar_selected-language {
  position: relative;
  right: 20px;
}

mat-button-toggle {
  width: 50px;
}

.russian-selected {
  background-image: url("../../../../assets/images/ru.svg");
  background-size: cover;
  background-position: center;
}

.english-selected {
  background-image: url("../../../../assets/images/en.svg");
  background-size: cover;
  background-position: center;
}

.mat-button-toggle-checked {
  border: 1px solid white;
}
