<mat-toolbar color="primary" class="header">
    <h1 class="logo">PMA</h1>
    <div class="navbar">
      <div class="navbar_item">
        <mat-button-toggle-group
          appearance="legacy"
          name="languages"
          aria-label="Available languages">
            <mat-button-toggle
              value="en"
              class="english-selected"
              checked="true">
            </mat-button-toggle>
            <mat-button-toggle
              value="ru"
              class="russian-selected">
            </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class='navbar__group' *ngIf='checkAuth() | async'>
        <a class="navbar_item">
          <mat-icon>add</mat-icon>
          <span>New Board</span>
        </a>
        <a class="navbar_item" routerLink='auth/edit-profile'>
          <mat-icon>edit</mat-icon>
          <span>Edit profile</span>
        </a>
        <a class="navbar_item" (click)='logout()'>
          <mat-icon>exit_to_app</mat-icon>
          <span>Log Out</span>
        </a>
      </div>
      <div class='navbar__group' *ngIf='(checkAuth() | async) === false'>
        <a class="navbar_item" routerLink='auth/log-in'>
          <mat-icon>input</mat-icon>
          <span>Log In</span>
        </a>
        <a class="navbar_item"  routerLink='auth/sign-up'>
          <mat-icon>person_add</mat-icon>
          <span>Sign Up</span>
        </a>
      </div>
    </div>
</mat-toolbar>
