<div class='container'>
  <mat-toolbar
    color="primary"
    class="header"
    [ngClass]="{'sticky-header': enableSticky}">
    <h1 class="logo">PMA</h1>
    <div class="navbar">
      <div class="navbar_item">
        <mat-button-toggle-group
          appearance="legacy"
          name="languages"  
          aria-label="Available languages"
        >
          <mat-button-toggle
            value="en"
            class="english-selected"
            (click)="onClickEnglish()"
            [checked]="isChecked('en')"
          ></mat-button-toggle>
          <mat-button-toggle
            value="ru"
            (click)="onClickRussian()"
            class="russian-selected"
            [checked]="isChecked('ru')"
          ></mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class='navbar__group' *ngIf='hasToken$ | async'>
        <a class="navbar_item" (click)="onCreateBoard()">
          <mat-icon matTooltip='New Board'>add</mat-icon>
          <span>{{ 'HEADER.newboard' | translate }}</span>
        </a>
        <a class="navbar_item" routerLink='auth/edit-profile'>
          <mat-icon matTooltip='Edit profile'>edit</mat-icon>
          <span>{{ 'HEADER.editprofile' | translate }}</span>
        </a>
        <a class="navbar_item" (click)='logout()'>
          <mat-icon matTooltip='Log Out'>exit_to_app</mat-icon>
          <span>{{ 'HEADER.logout' | translate }}</span>
        </a>
      </div>
      <div class='navbar__group' *ngIf='(hasToken$ | async) === ""'>
        <a class="navbar_item" routerLink='auth/log-in'>
          <mat-icon matTooltip='Log In'>input</mat-icon>
          <span>{{ 'HEADER.login' | translate }}</span>
        </a>
        <a class="navbar_item"  routerLink='auth/sign-up'>
          <mat-icon matTooltip='Sign Up'>person_add</mat-icon>
          <span>{{ 'HEADER.signup' | translate }}</span>
        </a>
      </div>
    </div>
  </mat-toolbar>
</div>

