.form {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  min-width: 300px;

  &__error {
    padding: 5px;
    text-align: center;
    color: #f44336;
    font-weight: bold;
  }

  &__submit {
    flex: 1;
    max-width: 450px;
    align-self: center;
  }
  &__delete {
    flex: 1;
  }
}

.edit__buttons {
  display: flex;
  gap: 15px;
}
