<div class="column-container">
  <div class="title-container" *ngIf="!isAddTitleModeOn">
    <h2
    class="column-title"
    (click)="isAddTitleModeOn = !isAddTitleModeOn">{{column.title}}</h2>
    <mat-icon class="delete-icon" (click)="onDeleteColumn()">delete</mat-icon>
  </div>
  <div class="change-title" *ngIf="isAddTitleModeOn">
    <mat-form-field >
      <mat-label>{{ 'BOARD_COLUMN.settitle' | translate }}</mat-label>
      <input
      type="text"
      #columnTitle
      matInput
      (keyup.enter)="onChangeTitle(columnTitle.value)"
      required>
    </mat-form-field>
    <button
      mat-icon-button
      color="primary"
      (click)="onChangeTitle(columnTitle.value)">
      <mat-icon>done</mat-icon>
    </button>
    <button
      mat-icon-button
      color="warn"
      (click)="isAddTitleModeOn = !isAddTitleModeOn">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <div
    class="task-list"
    cdkDropList
    [cdkDropListData]="tasks"
    (cdkDropListDropped)="drop($event)">
    <app-board-task
      class="task-box"
      *ngFor="let task of tasks"
      [attr.data-id]='task.id'
      cdkDrag
      [task]='task'></app-board-task>
  </div>
  <div class="add-task-container">
    <button
      mat-button
      color="primary"
      class="add-task_btn"
      *ngIf="!isAddTaskModeOn"
      (click)="isAddTaskModeOn = !isAddTaskModeOn">
      <mat-icon>add</mat-icon>
      {{ 'BOARD_COLUMN.addnewtask' | translate }}
    </button>
  </div>
  <div class="change-title" *ngIf="isAddTaskModeOn">
    <mat-form-field >
      <mat-label>{{ 'BOARD_COLUMN.addnewtask' | translate }}</mat-label>
      <input
      type="text"
      #taskInput
      matInput
      (keyup.enter)="onTaskAdded(taskInput.value)"
      required>
    </mat-form-field>
    <button
      mat-icon-button
      color="primary"
      (click)="onTaskAdded(taskInput.value)">
      <mat-icon>done</mat-icon>
    </button>
    <button
      mat-icon-button
      color="warn"
      (click)="isAddTaskModeOn = !isAddTaskModeOn">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</div>


