<form [formGroup]='formGroup' (submit)='submit()' class='form'>
  <span *ngIf="(errorMessage$ | async) as errorMessage" class="form__error">{{errorMessage}}</span>
  <mat-form-field appearance='outline'>
    <mat-label>User login</mat-label>
    <input matInput formControlName='login' type='login'>
    <mat-error *ngIf='login?.errors?.["required"]'>
      Please enter login
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance='outline'>
    <mat-label>Password</mat-label>
    <input matInput formControlName='password' [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix type='button' (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon color='primary'>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf='password?.errors?.["required"]'>
      Please enter password
    </mat-error>
  </mat-form-field>
  <button mat-raised-button type='submit' color='primary' class='form__submit' [disabled]="formGroup.valid ? false : true">Login</button>
</form>
