:host {
  display: block;
  margin: 20px auto;
  padding: 10px 0;
  width: 100%;
  max-width: 1200px;
}

.pomodoro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-size: 32px;
  }
  .pomodoroBtns {
    margin-top: 50px;
  }
  .btnRemove {
    margin-right: 10px;
  }
  .btnNew{
    margin-right: 10px;
  }  
}