<form [formGroup]='formGroup' class='form'>
  <mat-form-field appearance='outline'>
    <mat-label>User name</mat-label>
    <input matInput formControlName='name' type='text'>
    <mat-error *ngIf='name?.errors?.["required"]'>
      Please enter name
    </mat-error>
    <mat-error *ngIf='name?.errors?.["minlength"]'>
      The name is too short
    </mat-error>
    <mat-error *ngIf='name?.errors?.["maxlength"]'>
      The name is too long
    </mat-error>
    <mat-error *ngIf='name?.errors?.["firstdigit"]'>
      The name mustn't starts with digit
    </mat-error>
    <mat-error *ngIf='name?.errors?.["specChar"]'>
      The name must contains only letters, digits and _
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance='outline'>
    <mat-label>User login</mat-label>
    <input matInput formControlName='login' type='text'>
    <mat-error *ngIf='login?.errors?.["required"]'>
      Please enter login
    </mat-error>
    <mat-error *ngIf='login?.errors?.["minlength"]'>
      The login is too short
    </mat-error>
    <mat-error *ngIf='name?.errors?.["maxlength"]'>
      The login is too long
    </mat-error>
    <mat-error *ngIf='login?.errors?.["firstdigit"]'>
      The login mustn't starts with digit
    </mat-error>
    <mat-error *ngIf='login?.errors?.["specChar"]'>
      The login must contains only letters, digits and _
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance='outline'>
    <mat-label>Password</mat-label>
    <input matInput formControlName='password' [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon color='primary'>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf='password?.errors?.["required"]'>
      Please enter password
    </mat-error>
    <mat-error *ngIf='password?.errors?.["minlength"]'>
      Password must contains at least 8 characters
    </mat-error>
    <mat-error *ngIf='password?.errors?.["validatePasswords"]'>
      {{password?.errors?.["validatePasswords"]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance='outline'>
    <mat-label>Confirm password</mat-label>
    <input matInput formControlName='confirmPassword' [type]="hideConfirm ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
      <mat-icon color='primary'>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf='confirmPassword?.errors?.["required"]'>
      Please enter password
    </mat-error>
    <mat-error *ngIf='confirmPassword?.errors?.["validatePasswords"]'>
      {{confirmPassword?.errors?.["validatePasswords"]}}
    </mat-error>
  </mat-form-field>
  <ng-content></ng-content>
</form>
